@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RUBIK";
  src: url("./fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RUBIK";
  font-style: italic;
  src: url("./fonts/Rubik-Italic-VariableFont_wght.ttf");
}

@layer base {
  h1 {
    @apply text-5xl;
    @apply font-medium;
  }
  h2 {
    @apply text-4xl;
    @apply font-medium;
  }
  h3 {
    @apply text-3xl;
    @apply font-medium;
  }
  h4 {
    @apply text-2xl;
    @apply font-medium;
  }
  h5 {
    @apply text-xl;
    @apply font-medium;
  }
  h6 {
    @apply text-base;
    @apply font-medium;
  }
}
